.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
}

.modal_image {
    display: block;
    width: 80%;
    height: 80%;
}